i# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac OS and system files
.DS_Store
Thumbs.db

# dotenv environment files
.env
.env.*

# Testing & coverage
.coverage
.tox/
.nox/
.cache/
pytest_cache/
coverage.xml
*.cover
.hypothesis/

# Packaging
build/
dist/
*.egg-info/

# Log files
*.log

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Bandit security reports
bandit.json

# pyright
.pyright/

# SQLite databases
*.sqlite3

# Jupyter runtime
~/.local/share/jupyter/runtime/

